@import "tailwindcss";

/* Оставляем только настройки отображения лайтбокса */
.pswp__button--arrow--prev, .pswp__button--arrow--next {
  display: block !important;
}
.pswp__img {
  object-fit: contain !important;
}